### Data Processing

In [4]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [5]:
# Import NY later
nyc_listings = pd.read_csv('Data/New_York_City.csv')
denver_listings = pd.read_csv('Data/Denver.csv')
# austin_listings = pd.read_csv('Data/Austin.csv')
sf_listings = pd.read_csv('Data/San_Francisco.csv')

C:\Users\meade\anaconda3\envs\PythonData38\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (67) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
# Add city column
denver_listings['city'] = 'Denver'
sf_listings['city'] = 'San Francisco'
nyc_listings['city'] = 'New York City'

In [7]:
# Merge all city datasets
# listings = pd.merge(denver_listings,sf_listings,how='outer')
listings = nyc_listings
listings.tail()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city
37405,6.406120e+17,https://www.airbnb.com/rooms/640612171111039003,2.022060e+13,6/4/22,2nd Floor near Park and Ferry to NYC,NaN,NaN,https://a0.muscache.com/pictures/255e6d38-ce3f...,32162495,https://www.airbnb.com/users/show/32162495,...,NaN,NaN,NaN,f,3,3,0,0,NaN,New York City
37406,6.406300e+17,https://www.airbnb.com/rooms/640629990855220048,2.022060e+13,6/4/22,Empire House by Rove | Modern Williamsburg 3 B...,**New photos of new bedding arrangements and h...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,404940500,https://www.airbnb.com/users/show/404940500,...,NaN,NaN,NaN,f,5,5,0,0,NaN,New York City
37407,6.406580e+17,https://www.airbnb.com/rooms/640658348674867448,2.022060e+13,6/4/22,Private room with Shared bath on Union Square 5,Thank you for your interest.<br />Who do you r...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,408979935,https://www.airbnb.com/users/show/408979935,...,NaN,NaN,NaN,t,16,0,16,0,NaN,New York City
37408,6.410720e+17,https://www.airbnb.com/rooms/641072234133563797,2.022060e+13,6/4/22,"Bright East Village 1BR w/ W/D, on prime corne...",Show up and start living from day one in Downt...,This rental is located in NYC’s East Village. ...,https://a0.muscache.com/pictures/prohost-api/H...,107434423,https://www.airbnb.com/users/show/107434423,...,NaN,NaN,NaN,t,391,391,0,0,NaN,New York City
37409,6.412410e+17,https://www.airbnb.com/rooms/641241352138040023,2.022060e+13,6/4/22,"Rest, Relax & Recharge! Club Wyndham Midtown 4...",With a majestic location from which to experie...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,355450429,https://www.airbnb.com/users/show/355450429,...,NaN,NaN,NaN,f,4,4,0,0,NaN,New York City

In [8]:
# See all columns in merged dataset
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'city'],
      dtype='object')

In [9]:
# Identify columns with null values exceeding 1500
null_check = listings.isna().sum()
remove_column_indices = []
remove_columns = []
[remove_columns.append(null_check.index[i]) for i in range(len(null_check)) if null_check[i] > 1500]
remove_columns

['neighborhood_overview',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_neighbourhood',
 'neighbourhood',
 'bathrooms',
 'bedrooms',
 'calendar_updated',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'reviews_per_month']

In [10]:
# Check columns with most null values
null_check.sort_values(ascending=False).head(20)

calendar_updated               37410
bathrooms                      37410
license                        37406
host_about                     16356
neighborhood_overview          14980
neighbourhood                  14979
host_response_rate             13210
host_response_time             13210
host_acceptance_rate           11732
review_scores_value             8435
review_scores_location          8435
review_scores_checkin           8432
review_scores_accuracy          8428
review_scores_communication     8423
review_scores_cleanliness       8418
review_scores_rating            7949
last_review                     7949
first_review                    7949
reviews_per_month               7949
host_neighbourhood              7542
dtype: int64

In [ ]:
# Drop all rows with null values
# listings.dropna(inplace=True)

In [11]:
# Convert t/f to 1/0
listings['host_is_superhost'] = listings['host_is_superhost']\
                                .apply(lambda value: 1 if value == 't' else 0)

listings['instant_bookable'] = listings['instant_bookable']\
                                .apply(lambda value: 1 if value == 't' else 0)
listings.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city
0,2595.0,https://www.airbnb.com/rooms/2595,2.022060e+13,6/4/22,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,...,4.86,4.41,NaN,0,3,3,0,0,0.31,New York City
1,5121.0,https://www.airbnb.com/rooms/5121,2.022060e+13,6/4/22,BlissArtsSpace!,One room available for rent in a 2 bedroom apt...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,...,4.47,4.52,NaN,0,2,0,2,0,0.32,New York City
2,5136.0,https://www.airbnb.com/rooms/5136,2.022060e+13,6/4/22,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,...,4.50,5.00,NaN,0,1,1,0,0,0.02,New York City
3,5178.0,https://www.airbnb.com/rooms/5178,2.022060e+13,6/4/22,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,...,4.87,4.39,NaN,0,1,0,1,0,3.37,New York City
4,5203.0,https://www.airbnb.com/rooms/5203,2.022060e+13,6/3/22,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...",Our neighborhood is full of restaurants and ca...,https://a0.muscache.com/pictures/103776/b37157...,7490,https://www.airbnb.com/users/show/7490,...,4.94,4.92,NaN,0,1,0,1,0,0.76,New York City

In [12]:
# Convert price variable to float
listings['price_int'] = listings['price'].str.replace('$', '')
listings['price_int'] = listings['price_int'].str.replace(',', '')
listings['price_int'] = listings['price_int'].astype(float)
listings['price_int'].dtype

C:\Users\meade\AppData\Local\Temp/ipykernel_18444/1379668244.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  listings['price_int'] = listings['price'].str.replace('$', '')

dtype('float64')

In [13]:
# Convert host acceptance rate from string to float
listings['host_acceptance_rate'] = listings['host_acceptance_rate']\
                                .str.replace('%', '').astype(float)

listings['host_acceptance_rate'].dtype

dtype('float64')

In [14]:
# Distinguish between long-term and short-term rentals
listings.loc[listings['minimum_nights'] < 30, 'short-term'] = 1
listings.loc[listings['minimum_nights'] >= 30, 'short-term'] = 0

In [ ]:
listings.columns

In [15]:
model_data = pd.DataFrame(listings[['host_acceptance_rate',
       'host_is_superhost', 'host_listings_count', 'short-term',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'number_of_reviews', 'neighbourhood_group_cleansed',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms',
       'city', 'price_int']])

In [16]:
# Ellen still working on this--might not be worth pursuing
number_of_amenities = []

listings_amenities = list(model_data['amenities'])
for amenities in listings_amenities[0:1]:
    number_of_amenities.append(len(list(amenities)))
    print(amenities)
number_of_amenities

["Essentials", "Bathtub", "Extra pillows and blankets", "Cooking basics", "Wifi", "Carbon monoxide alarm", "Heating", "Hair dryer", "Stove", "Oven", "Bed linens", "Cleaning before checkout", "Baking sheet", "Dishes and silverware", "Long term stays allowed", "Fire extinguisher", "Free street parking", "Keypad", "Hangers", "Refrigerator", "Hot water", "TV", "Smoke alarm", "Iron", "Coffee maker", "Air conditioning", "Kitchen", "Paid parking off premises", "Dedicated workspace", "Luggage dropoff allowed", "Ethernet connection"]

[530]

In [17]:
# Drop nulls and summarize model data
model_data.dropna(inplace=True)
model_data.describe()

,host_acceptance_rate,host_is_superhost,host_listings_count,short-term,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,price_int
count,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,...,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000,18490.000000
mean,83.280206,0.319903,22.739805,0.723743,22.739805,40.726347,-73.938747,3.143591,1.405192,1.781612,...,4.819011,4.802103,4.736473,4.651102,0.311898,12.170200,6.711682,5.305895,0.067658,187.025149
std,25.017291,0.466451,180.293555,0.447158,180.293555,0.061832,0.063170,2.099913,0.778042,1.270367,...,0.394326,0.441801,0.400231,0.485081,0.463281,38.556083,31.924976,22.153763,0.608251,229.117307
min,0.000000,0.000000,0.000000,0.000000,0.000000,40.504560,-74.249840,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,10.000000
25%,77.000000,0.000000,1.000000,0.000000,1.000000,40.683985,-73.980340,2.000000,1.000000,1.000000,...,4.800000,4.800000,4.650000,4.580000,0.000000,1.000000,0.000000,0.000000,0.000000,80.000000
50%,95.000000,0.000000,2.000000,1.000000,2.000000,40.720630,-73.948370,2.000000,1.000000,1.000000,...,4.940000,4.940000,4.840000,4.770000,0.000000,2.000000,1.000000,0.000000,0.000000,134.000000
75%,100.000000,1.000000,4.000000,1.000000,4.000000,40.763500,-73.916350,4.000000,2.000000,2.000000,...,5.000000,5.000000,5.000000,4.920000,1.000000,4.000000,2.000000,2.000000,0.000000,220.000000
max,100.000000,1.000000,3322.000000,1.000000,3322.000000,40.928340,-73.693210,16.000000,15.000000,42.000000,...,5.000000,5.000000,5.000000,5.000000,1.000000,391.000000,391.000000,190.000000,11.000000,9999.000000

In [ ]:
# listings.to_csv('Data/Consolidated_Data.csv')

### Data Investigation

In [18]:
# Check average price and count of listings by neighborhood
avg_price_by_neighborhood = listings.groupby(by=['neighbourhood_cleansed'])['price_int']\
                    .agg(['mean','count'])
avg_price_by_neighborhood = pd.DataFrame(avg_price_by_neighborhood)
avg_price_by_neighborhood.sort_values(['mean'],ascending=False)

                              mean  count
neighbourhood_cleansed
Fort Wadsworth          700.000000      1
Tribeca                 559.376963    191
Prospect Park           501.500000      6
Theater District        492.229682    283
Flatiron District       488.530303     66
...                            ...    ...
Mariners Harbor          71.611111     18
Soundview                66.357143     14
Bull's Head              60.000000      1
Grant City               59.466667     15
New Dorp                 40.000000      1

[243 rows x 2 columns]

In [20]:
# Find neighborhoods with greater than 5 listings
neighborhoods_retain = avg_price_by_neighborhood.loc[avg_price_by_neighborhood['count'] > 5]
neighborhoods_retain

                              mean  count
neighbourhood_cleansed
Allerton                111.589744     39
Arrochar                137.533333     15
Arverne                 228.453608     97
Astoria                 101.440860    651
Bath Beach              106.954545     22
...                            ...    ...
Williamsburg            173.169385   2391
Windsor Terrace         165.136364    110
Woodhaven                93.111111     81
Woodlawn                149.166667      6
Woodside                 78.270130    385

[206 rows x 2 columns]

#### Linear Model

In [21]:
# initialize empty list to store linear model results
results_tracker = []

def linear_model(data):
    # Removes any lingering null values - may need to rethink location of this
    data.dropna(inplace=True)
    # Assign X and y
    y = data['price_int']
    X = data.drop(columns='price_int').values

    # Split the data into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

    # Instantiate and train the model
    reg = LinearRegression()
    reg.fit(X_train,y_train)
    reg.score(X_train,y_train)
    
    print(f'Train score:\t {reg.score(X_train,y_train)}')
    print(f'Test score:\t {reg.score(X_test,y_test)}')
    
    # Save the results into the results_tracker
    results = {'train score' : reg.score(X_train,y_train),
              'test score' : reg.score(X_test,y_test),
              'features' : list(data.columns)}
    results_tracker.append(results)

#### Run Linear Models

In [22]:
model_data_1 = model_data[['price_int','bedrooms','accommodates']]
linear_model(model_data_1)

Train score:	 0.19060449970913396
Test score:	 0.22937369331183188

C:\Users\meade\anaconda3\envs\PythonData38\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [23]:
model_data_2 = model_data[['price_int','accommodates','review_scores_rating']]
linear_model(model_data_2)

Train score:	 0.17939557393480332
Test score:	 0.2175235305090012

C:\Users\meade\anaconda3\envs\PythonData38\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [24]:
model_data_3 = model_data[['host_is_superhost','room_type', 'accommodates','bedrooms','number_of_reviews', 
                   'review_scores_rating','city', 'price_int']]
model_data_3 = pd.get_dummies(model_data_3)
linear_model(model_data_3)

Train score:	 0.2077101642350757
Test score:	 0.25470930664898417

In [25]:
model_data_4 = pd.get_dummies(model_data[['price_int','neighbourhood_cleansed','review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin', 'number_of_reviews','host_acceptance_rate',
       'review_scores_communication', 'review_scores_location', 'instant_bookable',
       'review_scores_value','host_is_superhost','accommodates','bedrooms','review_scores_rating','room_type']])
linear_model(model_data_4)

Train score:	 0.32049301676630226
Test score:	 -1273932900706562.5

In [26]:
model_data_5 = pd.get_dummies(model_data[['price_int','city','accommodates', 'bedrooms',
                                          'review_scores_rating','number_of_reviews',
                                          'host_is_superhost','instant_bookable','room_type']])
linear_model(model_data_5)

Train score:	 0.20844504146693277
Test score:	 0.25521972505372226

In [27]:
model_data_6 = pd.get_dummies(model_data[['price_int','city','accommodates', 'bedrooms',
                                          'review_scores_rating','number_of_reviews',
                                          'host_is_superhost','instant_bookable','room_type',
                                          'short-term']])
linear_model(model_data_6)

Train score:	 0.21116846806366996
Test score:	 0.25652806180495613

In [37]:
model_data_7 = pd.get_dummies(model_data[['host_is_superhost','room_type', 'accommodates','bedrooms','number_of_reviews', 
                   'review_scores_rating','price_int','neighbourhood_group_cleansed']])
linear_model(model_data_7)

Train score:	 0.2557293130526561
Test score:	 0.3145715139487356

In [28]:
model_data_8 = pd.get_dummies(model_data[['price_int','neighbourhood_group_cleansed','review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin', 'number_of_reviews','host_acceptance_rate',
       'review_scores_communication', 'review_scores_location', 'instant_bookable','short-term',
       'review_scores_value','host_is_superhost','accommodates','bedrooms','review_scores_rating','room_type']])
linear_model(model_data_8)

Train score:	 0.2700497741835626
Test score:	 0.330345536092186

#### Review Results

In [29]:
# Remove duplicates from results_tracker and sort results in order of best training score
results_summary = []
[results_summary.append(x) for x in results_tracker if x not in results_summary]
results_summary.sort(key=lambda result: result['train score'],reverse=True)

# Print best result
print(f'Best training score: {results_summary[0]["train score"]}')
print(f'Best features: {results_summary[0]["features"]}')

Best training score: 0.32049301676630226
Best features: ['price_int', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'number_of_reviews', 'host_acceptance_rate', 'review_scores_communication', 'review_scores_location', 'instant_bookable', 'review_scores_value', 'host_is_superhost', 'accommodates', 'bedrooms', 'review_scores_rating', 'neighbourhood_cleansed_Allerton', 'neighbourhood_cleansed_Arden Heights', 'neighbourhood_cleansed_Arrochar', 'neighbourhood_cleansed_Arverne', 'neighbourhood_cleansed_Astoria', 'neighbourhood_cleansed_Bath Beach', 'neighbourhood_cleansed_Battery Park City', 'neighbourhood_cleansed_Bay Ridge', 'neighbourhood_cleansed_Bay Terrace', 'neighbourhood_cleansed_Baychester', 'neighbourhood_cleansed_Bayside', 'neighbourhood_cleansed_Bayswater', 'neighbourhood_cleansed_Bedford-Stuyvesant', 'neighbourhood_cleansed_Belle Harbor', 'neighbourhood_cleansed_Bellerose', 'neighbourhood_cleansed_Belmont', 'neighbourhood_cleansed_Bensonhurst', 'neighbourhood_cleansed_Bergen Beach', 'neighbourhood_cleansed_Boerum Hill', 'neighbourhood_cleansed_Borough Park', 'neighbourhood_cleansed_Briarwood', 'neighbourhood_cleansed_Brighton Beach', 'neighbourhood_cleansed_Broad Channel', 'neighbourhood_cleansed_Bronx Park', 'neighbourhood_cleansed_Bronxdale', 'neighbourhood_cleansed_Brooklyn Heights', 'neighbourhood_cleansed_Brownsville', "neighbourhood_cleansed_Bull's Head", 'neighbourhood_cleansed_Bushwick', 'neighbourhood_cleansed_Cambria Heights', 'neighbourhood_cleansed_Canarsie', 'neighbourhood_cleansed_Carroll Gardens', 'neighbourhood_cleansed_Castle Hill', 'neighbourhood_cleansed_Castleton Corners', 'neighbourhood_cleansed_Central Park', 'neighbourhood_cleansed_Chelsea', 'neighbourhood_cleansed_Chelsea, Staten Island', 'neighbourhood_cleansed_Chinatown', 'neighbourhood_cleansed_City Island', 'neighbourhood_cleansed_Civic Center', 'neighbourhood_cleansed_Claremont Village', 'neighbourhood_cleansed_Clason Point', 'neighbourhood_cleansed_Clifton', 'neighbourhood_cleansed_Clinton Hill', 'neighbourhood_cleansed_Co-op City', 'neighbourhood_cleansed_Cobble Hill', 'neighbourhood_cleansed_College Point', 'neighbourhood_cleansed_Columbia St', 'neighbourhood_cleansed_Concord', 'neighbourhood_cleansed_Concourse', 'neighbourhood_cleansed_Concourse Village', 'neighbourhood_cleansed_Coney Island', 'neighbourhood_cleansed_Corona', 'neighbourhood_cleansed_Crotona Park', 'neighbourhood_cleansed_Crown Heights', 'neighbourhood_cleansed_Cypress Hills', 'neighbourhood_cleansed_DUMBO', 'neighbourhood_cleansed_Ditmars Steinway', 'neighbourhood_cleansed_Dongan Hills', 'neighbourhood_cleansed_Douglaston', 'neighbourhood_cleansed_Downtown Brooklyn', 'neighbourhood_cleansed_Dyker Heights', 'neighbourhood_cleansed_East Elmhurst', 'neighbourhood_cleansed_East Flatbush', 'neighbourhood_cleansed_East Harlem', 'neighbourhood_cleansed_East Morrisania', 'neighbourhood_cleansed_East New York', 'neighbourhood_cleansed_East Village', 'neighbourhood_cleansed_Eastchester', 'neighbourhood_cleansed_Edenwald', 'neighbourhood_cleansed_Edgemere', 'neighbourhood_cleansed_Ellis Island', 'neighbourhood_cleansed_Elmhurst', 'neighbourhood_cleansed_Eltingville', 'neighbourhood_cleansed_Emerson Hill', 'neighbourhood_cleansed_Far Rockaway', 'neighbourhood_cleansed_Ferry Point Park', 'neighbourhood_cleansed_Fieldston', 'neighbourhood_cleansed_Financial District', 'neighbourhood_cleansed_Flatbush', 'neighbourhood_cleansed_Flatiron District', 'neighbourhood_cleansed_Flatlands', 'neighbourhood_cleansed_Floral Park', 'neighbourhood_cleansed_Flushing', 'neighbourhood_cleansed_Flushing Meadows Corona Park', 'neighbourhood_cleansed_Fordham', 'neighbourhood_cleansed_Forest Hills', 'neighbourhood_cleansed_Forest Park', 'neighbourhood_cleansed_Fort Greene', 'neighbourhood_cleansed_Fort Hamilton', 'neighbourhood_cleansed_Fresh Meadows', 'neighbourhood_cleansed_Freshkills Park', 'neighbourhood_cleansed_Gerritsen Beach', 'neighbourhood_cleansed_Glendale', 'neighbourhood_cleansed_Gowanus', 'neighbourhood_cleansed_Gramercy', 'neighbourhood_cleansed_Graniteville', 'neighbourhood_cleansed_Grant City', 'neighbourhood_cleansed_Gravesend', 'neighbourhood_cleansed_Great Kills', 'neighbourhood_cleansed_Green-Wood Cemetery', 'neighbourhood_cleansed_Greenpoint', 'neighbourhood_cleansed_Greenwich Village', 'neighbourhood_cleansed_Grymes Hill', 'neighbourhood_cleansed_Harlem', "neighbourhood_cleansed_Hell's Kitchen", 'neighbourhood_cleansed_Highbridge', 'neighbourhood_cleansed_Hollis', 'neighbourhood_cleansed_Howard Beach', 'neighbourhood_cleansed_Howland Hook', 'neighbourhood_cleansed_Huguenot', 'neighbourhood_cleansed_Hunts Point', 'neighbourhood_cleansed_Inwood', 'neighbourhood_cleansed_Jackson Heights', 'neighbourhood_cleansed_Jamaica', 'neighbourhood_cleansed_Jamaica Estates', 'neighbourhood_cleansed_Jamaica Hills', 'neighbourhood_cleansed_Kensington', 'neighbourhood_cleansed_Kew Gardens', 'neighbourhood_cleansed_Kew Gardens Hills', 'neighbourhood_cleansed_Kingsbridge', 'neighbourhood_cleansed_Kips Bay', 'neighbourhood_cleansed_Laurelton', 'neighbourhood_cleansed_Lighthouse Hill', 'neighbourhood_cleansed_Little Italy', 'neighbourhood_cleansed_Little Neck', 'neighbourhood_cleansed_Long Island City', 'neighbourhood_cleansed_Longwood', 'neighbourhood_cleansed_Lower East Side', 'neighbourhood_cleansed_Manhattan Beach', 'neighbourhood_cleansed_Marble Hill', 'neighbourhood_cleansed_Marine Park', 'neighbourhood_cleansed_Mariners Harbor', 'neighbourhood_cleansed_Maspeth', 'neighbourhood_cleansed_Melrose', 'neighbourhood_cleansed_Middle Village', 'neighbourhood_cleansed_Midland Beach', 'neighbourhood_cleansed_Midtown', 'neighbourhood_cleansed_Midwood', 'neighbourhood_cleansed_Mill Basin', 'neighbourhood_cleansed_Morningside Heights', 'neighbourhood_cleansed_Morris Heights', 'neighbourhood_cleansed_Morris Park', 'neighbourhood_cleansed_Morrisania', 'neighbourhood_cleansed_Mott Haven', 'neighbourhood_cleansed_Mount Eden', 'neighbourhood_cleansed_Mount Hope', 'neighbourhood_cleansed_Murray Hill', 'neighbourhood_cleansed_Navy Yard', 'neighbourhood_cleansed_Neponsit', 'neighbourhood_cleansed_New Brighton', 'neighbourhood_cleansed_New Dorp Beach', 'neighbourhood_cleansed_New Springville', 'neighbourhood_cleansed_NoHo', 'neighbourhood_cleansed_Nolita', 'neighbourhood_cleansed_North Riverdale', 'neighbourhood_cleansed_Norwood', 'neighbourhood_cleansed_Oakwood', 'neighbourhood_cleansed_Olinville', 'neighbourhood_cleansed_Ozone Park', 'neighbourhood_cleansed_Park Hill', 'neighbourhood_cleansed_Park Slope', 'neighbourhood_cleansed_Parkchester', 'neighbourhood_cleansed_Pelham Bay', 'neighbourhood_cleansed_Pelham Bay Park', 'neighbourhood_cleansed_Pelham Gardens', 'neighbourhood_cleansed_Port Ivory', 'neighbourhood_cleansed_Port Morris', 'neighbourhood_cleansed_Port Richmond', "neighbourhood_cleansed_Prince's Bay", 'neighbourhood_cleansed_Prospect Heights', 'neighbourhood_cleansed_Prospect Park', 'neighbourhood_cleansed_Prospect-Lefferts Gardens', 'neighbourhood_cleansed_Queens Village', 'neighbourhood_cleansed_Randall Manor', 'neighbourhood_cleansed_Red Hook', 'neighbourhood_cleansed_Rego Park', 'neighbourhood_cleansed_Richmond Hill', 'neighbourhood_cleansed_Richmondtown', 'neighbourhood_cleansed_Ridgewood', 'neighbourhood_cleansed_Riverdale', 'neighbourhood_cleansed_Rockaway Beach', 'neighbourhood_cleansed_Rockaway Park', 'neighbourhood_cleansed_Roosevelt Island', 'neighbourhood_cleansed_Rosebank', 'neighbourhood_cleansed_Rosedale', 'neighbourhood_cleansed_Rossville', 'neighbourhood_cleansed_Schuylerville', 'neighbourhood_cleansed_Sea Gate', 'neighbourhood_cleansed_Sheepshead Bay', 'neighbourhood_cleansed_Shore Acres', 'neighbourhood_cleansed_Silver Lake', 'neighbourhood_cleansed_SoHo', 'neighbourhood_cleansed_Soundview', 'neighbourhood_cleansed_South Beach', 'neighbourhood_cleansed_South Ozone Park', 'neighbourhood_cleansed_South Slope', 'neighbourhood_cleansed_Springfield Gardens', 'neighbourhood_cleansed_Spuyten Duyvil', 'neighbourhood_cleansed_St. Albans', 'neighbourhood_cleansed_St. George', 'neighbourhood_cleansed_Stapleton', 'neighbourhood_cleansed_Stuyvesant Town', 'neighbourhood_cleansed_Sunnyside', 'neighbourhood_cleansed_Sunset Park', 'neighbourhood_cleansed_Theater District', 'neighbourhood_cleansed_Throgs Neck', 'neighbourhood_cleansed_Todt Hill', 'neighbourhood_cleansed_Tompkinsville', 'neighbourhood_cleansed_Tottenville', 'neighbourhood_cleansed_Tremont', 'neighbourhood_cleansed_Tribeca', 'neighbourhood_cleansed_Two Bridges', 'neighbourhood_cleansed_Unionport', 'neighbourhood_cleansed_University Heights', 'neighbourhood_cleansed_Upper East Side', 'neighbourhood_cleansed_Upper West Side', 'neighbourhood_cleansed_Van Cortlandt Park', 'neighbourhood_cleansed_Van Nest', 'neighbourhood_cleansed_Vinegar Hill', 'neighbourhood_cleansed_Wakefield', 'neighbourhood_cleansed_Washington Heights', 'neighbourhood_cleansed_West Brighton', 'neighbourhood_cleansed_West Farms', 'neighbourhood_cleansed_West Village', 'neighbourhood_cleansed_Westchester Square', 'neighbourhood_cleansed_Westerleigh', 'neighbourhood_cleansed_Whitestone', 'neighbourhood_cleansed_Williamsbridge', 'neighbourhood_cleansed_Williamsburg', 'neighbourhood_cleansed_Willowbrook', 'neighbourhood_cleansed_Windsor Terrace', 'neighbourhood_cleansed_Woodhaven', 'neighbourhood_cleansed_Woodlawn', 'neighbourhood_cleansed_Woodrow', 'neighbourhood_cleansed_Woodside', 'room_type_Entire home/apt', 'room_type_Hotel room', 'room_type_Private room', 'room_type_Shared room']

#### Random Forest Classifier

In [30]:
rfr_results_tracker = []

def random_forests(data):
    # Removes any lingering null values - may need to rethink location of this
#     data.dropna(inplace=True)
    # Assign X and y
    y = data['price_int']
    X = data.drop(columns='price_int').values

    # Split the data into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

    # Instantiate and train the model
    rfr = RandomForestRegressor(random_state=9)
    rfr.fit(X_train,y_train)
    rfr.score(X_train,y_train)
    
    print(f'Train score:\t {rfr.score(X_train,y_train)}')
    print(f'Test score:\t {rfr.score(X_test,y_test)}')
    
    # Save the results into the results_tracker
    results = {'train score' : rfr.score(X_train,y_train),
              'test score' : rfr.score(X_test,y_test),
              'features' : list(data.columns)}
    rfr_results_tracker.append(results)

#### Run Random Forests Models

In [31]:
random_forests(model_data_8)

Train score:	 0.8970630610868555
Test score:	 0.2079422962197668

In [36]:
model_data["neighbourhood_group_cleansed"]

2         Brooklyn
3        Manhattan
5        Manhattan
6         Brooklyn
9        Manhattan
           ...
37213    Manhattan
37217       Queens
37286       Queens
37325     Brooklyn
37356       Queens
Name: neighbourhood_group_cleansed, Length: 18490, dtype: object